---
import Layout from './Base.astro';
import TagsList from '../components/TagsList.astro';
import { machineDate, readableDate } from '../utils/dates';
import { slug } from '../utils/slug';
import Giscus from "../components/Giscus.astro";

export let content: {
    date?: string,
    summary?: string,
    section?: string,
    title?: string,
    description?: string,
    tags?: string[],
    author?: string
}

const authorUrl = content?.author ? `/author/${slug(content.author)}` : '#';
---

<Layout title={content?.title || 'Untitled'} description={content?.description || ''}>
  <article>
    <h1>{content?.title || 'Untitled'}</h1>
    <p>
      <small>
        {content?.date ? (
          <time datetime={machineDate(content.date)}>{readableDate(content.date)}</time>
        ) : 'No date'}
        {content?.author && (
          <>
            <span> by </span>
            <a href={authorUrl}>{content.author}</a>
          </>
        )}
      </small>
    </p>

    <slot />

    {Array.isArray(content?.tags) && content.tags.length > 0 && (
      <TagsList tags={content.tags} />
    )}
    <Giscus />
  </article>

  <nav>
    <a href='/blog'>← Blog index</a>
  </nav>
</Layout>
